<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         stopOnFailure="false"
         failOnWarning="false"
         failOnRisky="false"
         beStrictAboutOutputDuringTests="false"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true">

    <testsuites>
        <testsuite name="Unit Tests">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="Builder">
            <directory>Unit/Builders</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>../../milkadmin</directory>
        </include>
    </source>

    <groups>
        <exclude>
            <group>failing</group>
        </exclude>
    </groups>

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="512M"/>
    </php>
</phpunit>
